input_files/*
output_files/*
__pycache__
.DS_Store
.env
venv
.Rhistory
.gitignore.swp
.vscode/
archived_files/
code_application.py
codes copy.json
codes.json
design_paradigms.json
log.txt
research_question copy.txt
research_question.txt
test_ai_theme_analyzer.py
themes copy.json
themes.json
within_case_analysis.py
theme_overview.png
theme_subgraphs/
within_case_network_graphs/
helper_tools/
class1_theme_graphs/
class2_theme_graphs/
class3_theme_graphs/
class4_theme_graphs/
class5_theme_graphs/
json_files/
